.main_text{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: clamp(40px, 5vw, 80px);
line-height: 80%;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
padding-top: 10px;
}

.intro{
    gap: 10px;
}

.sub_text{

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(13px, 26px);
    text-align: center;

    color: #000000;
}



.color_text{
    color: #EA9090;
}

