nav {
    height: 60px;
}


.nav_logo {
    width: 177px;
    height: 51px;
}

.nav_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    gap: 30px;


}

.nav__text {
    display: flex;
    color: #333333;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;

}

.icons{
    gap:17px
}

@media (max-width: 768px) {
    .img_container {
      justify-content: center;
      width: 70%;
    }
  
    .nav_text{
      display: none;
    }

    .icons{
        gap: 10px;
    }
  }