.return{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */


letter-spacing: 2px;
text-transform: uppercase;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-title{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 22px;
letter-spacing: 0.3px;
text-transform: uppercase;

color: #515151;
}

.input_text{
    font-family: 'Segoe UI Emoji';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 33px */

letter-spacing: 0.01em

}

.card_gap{
    gap:32px
}