.product{
    width: 256px;
    height: 446px;
    position: relative;
}

.product:hover .rectangle {
    display: block;
  }

.rectangle{
    z-index: 10;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    background-color: pink;
}

.img{
    width: 100%;
    height: clamp(100px, 30vw, 346px);
    position: relative;
    
}



#product_name{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #000000;
    
}

#price{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 350;
font-size: 14px;
line-height: 22px;
letter-spacing: 0.3px;
text-transform: uppercase;

color: #000000;
}



  .img {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .overlay:hover{
    background-color: white;
    color: black;
  }
  
  .img:hover .overlay {
    opacity: 1;
  }
  