.product{
    width: 256px;
    height: 446px;
}

.img{
    width: 100%;
    height: 346px;
    
}



#product_name{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #000000;
    
}

#price{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 350;
font-size: 14px;
line-height: 22px;
letter-spacing: 0.3px;
text-transform: uppercase;

color: #000000;
}